# Telegram
BOT_TOKEN=8691610275:AAGD______________________
GROUP_CHAT_ID=-100xxxxxxxxxx

# Database
DATABASE_URL=postgresql+asyncpg://devgrabbot:password!@localhost:5432/devgrabbot

# Redis
REDIS_URL=redis://localhost:6379/0

# OpenRouter
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-3.1-flash-lite-preview

# Profiru
PROFIRU_LOGIN=DubinaDV4
PROFIRU_TOKEN=

# Parser
PARSE_INTERVAL_SEC=300
TIME_THRESHOLD_HOURS=24
STOP_WORDS=["WordPress","Битрикс","Опрос"]
